@model ErrorViewModel

<article>
    <h1>@Model.Error.Error</h1>
    <section><p>@Model.Error.ClientId</p></section>
    <section><p>@Model.Error.ErrorDescription</p></section>
    <section><p>@Model.Error.RedirectUri</p></section>
    <section><p>@Model.Error.RequestId</p></section>
    <section><p>@Model.Error.ResponseMode</p></section>
    <section><p>@Model.Error.DisplayMode</p></section>
    <section><p>@Model.Error.UiLocales</p></section>
</article>